apiVersion: v1
kind: Service
metadata:
  name: {{ include "linkurious-enterprise.fullname" . }}-primary
  labels:
    {{- include "linkurious-enterprise.labels" . | nindent 4 }}
  annotations:
    {{- if .Values.service.annotations }}
    {{- toYaml .Values.service.annotations | nindent 4 }}
    {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    {{- if .Values.metrics.prometheus.enabled }}
    - port: {{ .Values.service.metricsPort }}
      targetPort: http-metrics
      protocol: TCP
      name: http-metrics
    {{- end }}
  selector:
    {{- include "linkurious-enterprise.selectorLabels" . | nindent 4 }}
    apps.kubernetes.io/pod-index: "0"